* {
    margin: 0%;
    padding: 0%;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Navbar Section */


/* Product-Section */
div p {
    margin-left: 5%;
    margin-top: 3%;
    color: #272343;
    font-size: 32px;
    font-weight: 600;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3%;
    position: relative;
}

.head {
    position: absolute;
    top: 10px;
    left: 70px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: #01AD5A;
    padding: 7px;
    border-radius: 8px;

}

.text {
    font-size: 18px;
    font-weight: 400;
    margin: 0%;
    color: #007580;
}

.text-2 {
    margin: 0%;
    font-size: 18px;
    color: rgb(34, 27, 27);
}

/* Footer */
.footer {
    margin-top: 4%;
    color: black;
    align-items: center;
    cursor: pointer;
}

.footer-container {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-left: 10%;
}

.footer-column h4 {
    font-size: 20px;
    color: #636270;
}


.icons-img img {
    width: 15px;
    margin: 10px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin: 6px 0;
}

.footer-column ul li a {
    text-decoration: none;
}

.text-3 {
    font-size: 16px;
    font-weight: 400;
    color: #636270;
    margin: 0%;
}

input {
    padding: 7px;
    border-radius: 6px;
    border: 1px solid rgb(194, 171, 171);
}

button {
    background-color: #007580;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: 0;
}

.text-4 {
    font-size: 15px;
    font-weight: 400;
    margin: 0%;
    margin-top: 15px;
}

/* Responsive-Part */

@media screen and (max-width:640px) {
    div img {
        width: 100px;
        margin-left: 0%;
    }

    .nav-bar {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        gap: 15px;
    }

    .nav-items {
        padding: 5%;
    }

    .number {
        display: none;
    }

    div p {
        font-size: 20px;
        font-weight: 600;
    }

    .cards {
        text-align: center;
    }

    .card img {
        width: 230px;
    }

    .head {
        top: 10px;
        left: 80px;
        padding: 4px;
        border-radius: 3px;
    }

    .text-2 {
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-column h4 {
        font-size: 18px;
        font-weight: 600;
    }

    .list {
        text-align: center;
    }

    .text-3 {
        font-size: 12px;
    }

    .text-4 {
        font-size: 15px;
    }

    .icons-img img {
        width: 21px;

    }


}