 /* Header Section */
   @media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
      height: auto;
    }
  
    .content {
      max-width: 100%;
    }
  
    .image {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .content h1 {
      font-size: 40px;
    }
  
    .shop-now {
      padding: 10px 15px;
      font-size: 14px;
    }
  }


  /* Featured Products section */

  @media (max-width: 768px) {
    .featured-products h1 {
      font-size: 1.5rem;
    }
  
    .product-card {
      padding: 10px;
    }
  }


  @media (max-width: 768px) {
    .content h1 {
      font-size: 1.8rem;
    }
  
    .content {
      max-width: 100%;
      text-align: center;
    }
  
    .image img {
      margin: 20px 0;
    }
  }

